body{width:1280px;height: 1846px;}
.left{float: left;} .right{float: right;}
a{list-style: none;}
ul li{list-style: none;margin-bottom: 15px;font-size: 15px;text-decoration-line: none;}
.hover{width: 208px;height: 30px;background: #45a0b9;color: #fff;background-image: url(images/tb.png) no-repeat;border-radius: 2px solid #45a0b9}
.borderpub{border-bottom: 1px solid #ccc;}
.body{margin: auto;background: #e5e5e5}
.body1{width: 980px;height: 1846px;margin: 0 138px 0 170px;background: #fff}
.header{width: 980px;height:118px;}
.banner{width: 980px;height: 166px;}
.content{width: 980px;height: 1372px;}
.footer{width: 980px;height: 191px;}
.h_btn{width: 902px;height: 18px;}
.h_nav{width: 980px;height: 78px;}
.h_bt{width: 300px;height: 100px;}
.h_nav1{width: 680px;height: 100px;background: url(../images/kuang.png);margin: 3px 0 0 0}
.aligncenter{clear: both;display: block;margin: auto;margin-top: 27px}
.nav1{width: 660px;height: 45px;border-radius: 5px;background:#3497b3 ;margin: -10px 0 0 9px;box-shadow: 0px 18px 0px 3px #19abd4 inset;}
.ys{font-size: 17px;margin: 10px 24px;font-weight: 800;border-style: none;}
.ys_border{width: 245px;height: 30px;font-size: 12px;font-weight: 600;color: #fff;border: 2px solid #308fb2;border-radius:5px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;background: #4daec7;}
.cont_l{width: 300px;height: 1372px;}
.cont_r{width: 660px;height: 1372px;}
.cont_l_up{width: 300px;height: 400px;}
.border{width: 300px;height: 370px; border:1px solid #ccc ;border-style: double; border-width: 10px;border-top-left-radius: 20px;border-bottom-right-radius: 20px;margin-top: 25px}
.cont_l_down{width: 300px;height: 100px;border:2px solid #ccc;border-radius: 17px;}
.cont_l_down1{width:90px;height: 89px;}
.cont_l_down2{width:141px;height: 89px;}
.c1{width: 141px;height: 24px;font-size: 15px;font-weight: bold;padding-left: 10px;margin: 10px 0 0 15px}
.c2{width: 141px;height: 22px;font-size: 13px;font-weight: bold;margin:-1px 0 0 35px}
.c3{width: 141px;height: 45px}
.cont_l_up_wenzi1{font-size:xx-small;text-shadow:#c3c9bf -1px 1px 9px;margin: 15px 0px 0 15px;}
.cont_l_up_wenzi2{font-size: 25px;color: #0f7f89;font-weight: bold;margin: 0px 0px 0 15px;}
.cont_css{font-weight: 700;margin: -41px 13px 0 -10px;padding-top: 10px}
.pub{color: #959191;font-size: 18px;}
.pub1{color: #3088a6;margin-left: 128px}
.pub2{color: #0f7f89;}

.cont_r1{width: 660px;height: 50px;margin: 35px 0 0 12px}
.cont_r2{width: 660px;height: 141px}
.cont_r3{width: 660px;height: 600px}
.cont_r4{width: 660px;height: 500px}

.cont_r2_p .cont_r32{font-size: xx-small;}
.cont_r2_pub{margin-left:20px}
.p_col{color: #6ca5ab;font-weight: 600}

.cont_r_pub{width: 640px;height: 548px;border:1px solid #b4e2f9;border-radius: 17px ;margin:-18px 0 0 28px;position: relative;}
.cont_r31{width: 342px;height: 83px;margin-top: 40px}
.cont_r32{width: 342px;height: 89px;font-size: xx-small;color: #d7d5d5;font-weight: 600}
.cont_r33{width: 342px;height: 40px;margin-top: 45px}
.cont_r34{width: 300px;height: 138px;}
.cont_r35{width: 658px;height: 97px;}
.r331{font-size: xx-small;font-weight: 600}
.r332{font-size: 15px;color: #6ca5ab}
.cont_r341{width: 220px;height: 134px;border: 2px solid #ccc;margin:20px 0 0 40px;border-radius: 4px}
.r341{width: 109px;font-weight: 600;margin-top:15px }
.r342{font-size: xx-small;color: #d7d5d5;font-weight: 600;margin-top:10px}
.r351{font-weight: 600;margin:25px 0 0 50px}
.r352{width: 109px;border-top:2px solid #ccc}
.r353{font-size: xx-small;color:#908d8d;margin:10px 0 0 50px }
.cont_r44{width: 626px;height: 97px;margin-top: 30px}
.r441{font-weight: 600;}
.r442{border-top:2px solid #ccc}
.r443{width: 505px;height: 30px;margin-top: 10px}
.r444{margin-left: 20px}

.footer_up{width: 980px;height: 89px}
.footer_down{width: 980px;height: 105px}

.footer_up1{width: 230px;height: 89px}
.footer_up2{width: 500px;height: 89px;margin: 25px 0 0 10px}
.footer_up3{width: 150px;height: 89px;margin: 25px 10px 0 0}
.foot_color{color: #0000ff;font-weight: 600}